body {
    font-family: Arial;
    
    background: #f3f3f3;
}
.Header {
    position: relative;
    background: #3b3b3b; /* color asfalto */
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Science Gothic", sans-serif;
    margin-bottom: 30px;
}

/* Línea amarilla central */
.Header::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px;
    background: repeating-linear-gradient(
        to right,
        #f7d708 0px,
        #d6c50c 40px,
        transparent 40px,
        transparent 80px
    );
    transform: translateY(-50%);
    opacity: 0.9;
}

/* Íconos */
.header-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100px;
    scale: 0.9px;
}

.icon-left {
    left: 60px;
}

.icon-right {
    right: 60px;
    transform: translateY(-50%) scaleX(-1);
}
/* Título */
.Header h1 {
    position: relative;
    color: white;
    font-size: 55px;
    z-index: 2;
    background: #3b3b3b;
}




.main-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    width: 35%;
    
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    
}

.preview {
    display: block;
    margin: 0 auto;     /* centra la imagen */
    width: 80%;         /* tamaño */
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
}


.result {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    background: #e8e8e8;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #008cff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background: #006fd6;
}


#imageInput {
    display: none;
}

.road-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    background: #585858;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  
    transition: 0.2s;
}

.road-upload:hover {
    background: #000;
}

.road-upload .line {
    width: 40px;
    height: 4px;
    background: yellow;
    border-radius: 2px;
}


/* CALLE BUENA → verde */
.result-buena {
    background-color: #ffffff !important;
    transition: 0.3s ease;
     border: 4px solid #00951e !important;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(2, 208, 139, 0.3);
}

/* GRIETAS → naranja */
.result-grietas {
    background-color: #ffffff !important;
    transition: 0.3s ease;
     border: 4px solid #ff962d !important;
    border-radius: 12px;
    box-shadow: 0 0 10px rgb(255, 153, 0);
}

/* HUECOS → rojo */
.result-huecos {
    background-color: white !important;
    border: 4px solid #ff4a4a !important;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    transition: 0.3s ease;
}

.info-text {
    margin-top: 15px;
    padding: 12px;
    border-radius: 10px;
    background-color: #f8f8f8;
    border-left: 5px solid #4a4a4a;
    font-family: Arial, sans-serif;
    font-size: 15px;
    display: none;
    transition: 0.3s ease;
}
.info-calle-buena {
    border-left-color: #4caf50 !important; /* verde */
}

.info-grietas {
    border-left-color: #ffa726 !important; /* naranja */
}

.info-huecos {
    border-left-color: #ff3b3b !important; /* rojo */
}

/* Contenedor general del mapa */
.map-container {
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    background: #f4f9ff;
    border-radius: 12px;
    border: 2px solid #007bb5;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Título centrado */
.map-header {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    background: #009fe3; /* azul Cali */
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* Caja del mapa */
.map-box {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

/* Texto "sin ubicación" */
.no-location {
    text-align: center;
    color: #777;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.loading {
    font-size: 18px;
    font-weight: bold;
    color: #666;
    text-align: center;
    padding: 10px;
}