body {
    font-family: Arial;
    margin: 40px;
    background: #f3f3f3;
}

.container {
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: auto;
}

.preview {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    background: #e8e8e8;
    border-radius: 10px;
}

input[type="file"] {
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #008cff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #006fd6;
}